
@{
    ViewBag.Title = "Index";
}
<h2>Welcome Samir</h2>

<link href="~/Content/Theme/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/Theme/jquery-ui.css" />


<!--Display data-->
<table id="jqGrid"></table>

<!--Display paging option-->
<div id="jqGridPager"></div>



@section scripts{

    <script src="~/Scripts/jqGrid/grid.locale-en.js"></script>
    <script src="~/Scripts/jqGrid/jquery.jqGrid.min.js"></script>
    <script>
        $(function () {
            $grid = $("#jqGrid").jqGrid({
                url: '@Url.Action("GetData","Employee")',
                mtype: 'GET',
                datatype: 'json',
                colModel: [
                    { label: 'Id', name: 'Id', editable: true, key: true, hidden: true, search: false },
                    { label: 'Name', name: 'Name', editable: true, editrules: { required: true } }, // name is required before submitting
                    { label: 'Age', name: 'Age', editable: true, editrules: { required: true, number: true } },
                    { label: 'Profession', name: 'Profession', editable: true, },
                    { label: 'Salary', name: 'Salary', editable: true,},
                    { label: 'Experience', name: 'Experience', editable: true,}
                ],
                loadonce: true,
                pager: '#jqGridPager', // devide it in page
                rowNum: 10, // show 10 in one page
                rowList: [10, 20, 50, 100], // dropdown option to select how many you want to see,
                viewrecords: true,
                height:  250,
                width: 1240,
                emptyrecords: 'No Employee record is available',

            });

            //// search and crud option
            $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                {
                    edit: true,
                    add: true,
                    del: true,
                    refresh: true,
                    closeAfterSearch: true
                },
                { // edit
                    url: '/Employee/Edit',
                    closeOnEscape: true,
                    closeAfterDel: true,
                    reloadAfterSubmit: true,
                    recreateForm: true,
                    afterSubmit: function () {
                        $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    }
                },
                { // add
                    url: '/Employee/Add',
                    closeOnEscape: true,
                    closeAfterAdd: true,
                    reloadAfterSubmit: true,
                    recreateForm: true,
                    afterSubmit: function () {
                        $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    }
                },
                { // delete
                    url: '/Employee/Delete',
                    closeOnEscape: true,
                    closeAfterEdit: true,
                    recreateForm: true,
                    msg: 'Are you sure? you want to delete the selected record',
                    width: '400',  // width of popup 
                    reloadAfterSubmit: true,
                    afterSubmit: function () {
                        $('#jqGrid').jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    }
                }
            );

        });

    </script>

}